/* Global reset styles for a consistent starting point */
* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Body and common HTML elements styling */
body, h1, h2, p, div {
    box-sizing: border-box;    
}

body {
    font-family: 'Nunito', sans-serif;    
    background-color: #f4f4f4;
    color: #0d0d0d;
    width: 50vw;          /* Body width set to half of the viewport width */
    margin: 0 auto;       /* Center the body content horizontally */
    font-size: 1.2rem;     /* Default font size */
    padding-bottom: 40px;
}

h1 {
    color: #f00;          
    font-size: 3rem;        
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-transform: uppercase;

}

h2 {
    color: #f00;          
    font-size: 1.6rem;        
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    padding: 10px 0;
}

h3 {
    display: block;
    font-family: 'Nunito', sans-serif;
    font-size: 1.17em;
    font-weight: bold;
}

p {
    padding-bottom: 20px;
    text-align: justify;
}

header {
    text-align: center;
    padding: 20px 0;
}

/* Sound button styling */

.sound-toggle {
    position: absolute;
    top: 0px;
    right: 40px;
}

.sound-btn {
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    color: #fff;
    margin: .5em 0 0 1em;
    color: #f00;
    text-shadow: 0px 0px 6px #959595;
}

/* Game description styling */

.description {
    padding: 0 10px; /* add right and left padding to text to align with cards*/
}

.welcome-player {
    text-align: center;
}


/* Memory card game styling */

.game-info, .score-info {
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around; 
    padding: 16px 10px;
}


.game-cards {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    perspective: 1000px;
    /* Create 3D flip effect - source: https://marina-ferreira.github.io/tutorials/js/memory-game/ */
}

.game-cards img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}

.card {
    width: calc(23%);
    aspect-ratio: 1/1;
    margin: 5px;
    position: relative;
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d;
    /* Position cards in 3D - source: https://marina-ferreira.github.io/tutorials/js/memory-game/ */
    transition: transform .5s;
}

.card:active {
    transform: scale(0.90);
    transition: transform .1s;
}

.card.flip {
    transform: rotateY(180deg);
}

.front, .back {
    width: 80%;
    height: 80%;
    position: absolute;
    border-radius: 15px;
    backface-visibility: hidden;
}

.front {
    transform: rotateY(180deg);
}

/* Modal styling */

.modal, .modal-form {
    display: grid;
}

.modal {
    color: #0d0d0d;
    margin: 100px auto;
    padding: 1em 3em;
    max-width: 570px;
    min-width: 460px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
}

.modal-title {
    font-size: 2.3rem;
    text-transform: uppercase;

}

.win-modal {
    display: none;
}

.modal::backdrop {
    background: #0d0d0d;
    opacity: .8;
}

.modal-form {
    gap: .8em;
    padding: 20px 0;
    font-size: 1.2rem;
}

.modal-heading, .modal-start-btn {
    font-family: 'Roboto', sans-serif;
}

.modal-heading {
    font-size: 1.8rem;
}

.modal-input {
    border: 1px solid #949494;
    border-radius: 2px;
    font-size: 1rem;
    padding: .3em;
}

.modal-start-btn {
    color: white;
    background-color: #f00;
    font-size: 1.2em;
    padding: .1em;
    border: 1px solid #f00;
    transition: ease-in-out .1s;
}

.modal-start-btn:hover {
    cursor: pointer;
    color: #f00;
    background-color: white;
}

/* Restart button styling */

.restart-btn-section {
    padding: 20px 0;
}

.restart-btn {
    color: white;
    background-color: #f00;
    font-size: 1.2em;
    padding: .3em;
    border: 1px solid #f00;
    margin: 0 auto;
}

.restart-btn:hover {
    cursor: pointer;
    color: #f00;
    background-color: white;
    transition: ease-in-out .1s;
}

.restart-btn:active {
    transform: scale(1.1);
    transition: ease-in-out 5ms;
}

/* 404 Message styling */

.error-message {
    color: #0d0d0d;
    margin: 100px auto;
    padding: 1em 3em;
    max-width: 480px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
}

.error-btn-section {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.error-btn {
    color: white;
    background-color: #f00;
    font-size: 1em;
    padding: .3em;
    border: 1px solid #f00;
}

.error-btn:hover {
    cursor: pointer;
    color: #f00;
    background-color: white;
    transition: ease-in-out .1s;
}

.error-btn:active {
    transform: scale(1.1);
    transition: ease-in-out 5ms;
}

/* ------------ MEDIA QUERIES ------------ */

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    body {
        width: 65vw;
    }
}

/* For larger to medium screens size from 950px wide and down */
@media screen and (max-width: 950px) {
    body {
        width: 70vw;
    }
}

/* For larger to medium screens size from 650px wide and down */
@media screen and (max-width: 730px) {
    body {
        width: 80vw;
        font-size: 1rem;
    }

    header h1 {         
        font-size: 2rem;     
    }
}

/* For larger to medium screens size from 650px wide and down */
@media screen and (max-width: 620px) {
    body {
        width: 90vw;
        font-size: .9rem;
    }

    header h1 {         
        font-size: 1.5rem;     
    }

    .modal {
        min-width: 200px;
    }

    .sound-toggle {
        position: absolute;
        top: -5px;
        right: 20px;
    }
    
    .sound-btn {
        font-size: 1rem;
        background-color: transparent;
        border: none;
        color: #fff;
        margin: .5em 0 0 1em;
        color: #f00;
        text-shadow: 0px 0px 6px #959595;
    }
    
}